# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

## Ignore environment variable file
.env

# Ignore the compiled binary files
/bin/
/obj/

# Ignore the directory where the games' JSON file is stored (currently ignoring the hardcoded file as well)
config/games.json
data/games.json

# Ignore other temporary or IDE-related files
*.swp           # Vim swap files
*.bak           # Backup files
*.log           # Log files

# Ignore any temporary files created by the system
.DS_Store       # macOS system file
Thumbs.db       # Windows system file

# Ignore the Makefile's target binary
game_picker

# Ignore the build directory if you use a specific one
/build/
